
.container-fluid {
    background-color: #F2F6F8;
    width: 95%;
    border-radius: 10px;
    box-shadow: 6px 6px 10px #0e1d2f;
    padding: 50px;
    margin-right: 30px;
    color: #0e1d2f;
}
#img-perfil{
    height: 300px;
    width: 300px;
    border-radius: 360px;
    box-shadow: 6px 6px 8px #0e1d2f;
    position: relative;
}
#img-perfil{
    display: flex; /* Para que o logo  fique ao lado do h1 */
    justify-content: center; /* Para centralizar o texto com a imagem */
}
.info-perfil .portfolio h2{
    font-weight: 100;
}
.info-perfil p{
    margin-top: 20px;
    text-align: justify;
}
#sociais{
    margin-top: 05px;
    font-size: 30px;
    margin-right: 50px
    color: #fff;
    position: relative;
    text-align: right;
}
/* Selects any <a> element when "hovered" */
a:hover {
    color: #888;
  }
  
a { /*PORTFOLIO*/
    text-decoration: none;
    list-style-type: none;/*RETIRA OS PONTOS DOS TOPICOS NAS LISTAS (LI)*/
}
.rodape{
    margin-top: 10px;
    text-align: center;
}