@charset "UTF-8";
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;   
}
nav {
    width: 100%;
    background: #00316b;
}
ul{
    width: 80%;
    margin: 0 auto;
    padding: 0;
}
ul li{
    list-style: none;
    display: inline-block;
    padding: 20px;
}
ul li:hover {
    background: #e91e63;
}
ul li a {
    color: #fff;
    text-decoration: none;
}
.toggle{
    width: 100%;
    padding: 10px, 20px;
    background: #001f44;
    text-align: right;
    box-sizing: border-box;
    color: #fff;
    font-size: 30px;
    display: none;
}
@media (max-width:768px) {
    .toggle {
        display: block;
    }

    ul {
        width: 100%;
        display: none;
    }
    ul li {
    display: block;
    text-align: center;
}
.active {
    display: block;
}
/*main{
    background-image: linear-gradient(to right rgba(38, 38, 224, 0.521) rgba(50, 106, 190, 0.651));
    max-width: 800px;
    height: 900px;
    margin: auto;
    padding: 50px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.473);
}*/
menu {
    border-radius: 10px;
    box-shadow: 3px 3px 6px black;
    text-align: right;
    background-color: rgba(60, 60, 230, 0.233);
}
h1 {
    text-align: center;
    font-size: 4em;
    color: rgba(27, 10, 43, 0.705);
    float: none;
}
h2 {
    font-size: 2em;
    color: rgba(27, 10, 43, 0.705);
}
p.sobre {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    float:left;
    font-weight: bold;
}
p.foto {
    float: right;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 5px black;
}
#operacionais {
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 230px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}
#formatacao {
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 230px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}
#memoria {
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 230px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}
#hd {
    font-family: Arial, Helvetica, sans-serif;
    color: #092727;
    text-align: left;
    height: 230px;
    width: 200px;
    padding: 10px;
    margin-left: 10px;
    margin-top: 10px;
    float:left;
}

a:hover {
    text-decoration: underline;
    color: rgb(26, 26, 255);
}
#rodape{
    background-color: rgb(230, 213, 199);
    text-align: center;
    font-size: 0,5em;
    color: rgb(36, 32, 32);
    margin: 10px;
}